@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  transition: all 1s;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: white;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.fraseAutor {
  width: 100%;
}
.fraseAutor .parrafo {
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
  padding: 5px;
}
.autor {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  display: block;
  text-align: end;
  padding: 20px;
}
.fraseAutor .autor {
}

.boton {
  width: 50%;
}
.boton button {
  display: block;
  border: none;
  font-size: 25px;
  padding: 5px;
  float: right;
  margin: 10px 20px;
  color: white;
}
.compartir {
  width: 50%;
}
.ico {
  font-size: 40px;
  margin: 10px;
}

@media (max-width: 900px) {
  .container {
    background-color: white;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    max-height: 100vh;
    padding: 10px;
  }
  .container {
  }
  .fraseAutor {
  }
  .fraseAutor .parrafo {
  }
  .parrafo p {
  }

  .fraseAutor .autor {
  }
  .fraseAutor .parrafo,
  .autor,
  .boton button,
  .ico svg path
  a {
    font-size: 16px;
  }
  .ico{
    margin: 0;
  }
}
